# Ignore everything
*

# Only track Java source files
!src/
!src/array/
!src/array/Array.java
!src/main/
!src/main/Main.java
!src/utils/
!src/utils/Validator.java

# Keep gitignore and README
!.gitignore
!README.md
