# Ignore everything
*

# Only track Java source files
!src/
!src/ui/
!src/ui/Main.java
!src/entity/
!src/entity/BubbleSortArray.java
!src/utils/
!src/utils/InputValidator.java

# Keep gitignore itself
!.gitignore
